player-connection-mode=Listen
player-connection-guid=3354929107
player-connection-debug=0
player-connection-project-name=Zomblicky
player-connection-ip=192.168.1.82
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=78741d6558f94f68ae93cdfa65152887
